body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Limita el ancho para evitar que el contenido se extienda demasiado */
    margin: auto; /* Centra el contenedor */
}

h1, h3 {
    margin-top: 0;
}

h3 {
    margin-bottom: 20px; /* Espacio entre el título y el formulario */
}

input[type="text"],
input[type="password"],
button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}
